page-landing {
    ion-content { background-color: #FF5722 !important; }
    button {
        margin-top: 20px !important;
        margin-bottom: 10px !important;
    }
    .login-button {
        margin-top: 40px !important;
    }
}
